/* ?CSS PROPERTIES */

/* Colors */
:root {
    --primarycolor: #f7972e;
    --secondarycolor: #7c69a4;
    --space40: 40px;
    --space20: 20px;
}




/* ?CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* ?GENERALS */

/* Fonts */
body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    background-color: #f6f5f9;
}

header h1 {
    font-family: 'Nerko One', cursive;
}

img {
    width: 100%;
}

section {
    margin-bottom: var(--space40);
}

/* List */
ul {
    list-style-type: none;
}

/* Social */
.social-name {
    display: none;
}

/* Banner */
.banner {
    display: none;
}

/* Video */
iframe {
    display: block;
    margin-top: var(--space20);
}

.social a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}



/* ?UTILS */
/* Container */
.container {
    margin: 0 auto;
    padding: var(--space20);
}

/* Font-weight */
.bold {
    font-weight: bold;
}




/* ?HEADER */

header h1 {
    color: var(--primarycolor);
    background-color: #fff;
    text-align: center;
    font-size: 3rem;
    padding: var(--space20) 20px;
}

/* ?MAIN */

/* !Recipe section */

/* Sezione nome ricetta */
.recipe .col:first-child {
    display: flex;
    justify-content: space-between;
}

.recipe-type .category {
    color: #a5afbf;
}

.recipe-name {
    font-size: 1.8rem;
    font-size: 2rem;
    color: #4e3969;
}

.recipe .hidden {
    display: none;
}

.recipe-rating {
    display: flex;
    align-items: flex-end;
    padding-right: 10px;
}

.rating-number {
    padding: 5px 10px;
}

.rate {
    color: #fff;
    background-color: var(--primarycolor);
    border-radius: 40%;
    padding: 5px 10px;
}



/* Sezione preparazione */

.col.preparation {
    background-color: #fff;
    box-shadow: 0 5px 5px gray;
    padding: 10px 0 20px 0;
}

.recipe-info {
    margin: var(--space40);
    background-color: #f6f5f9;
    padding: 20px;
}

.diet-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space20);
    padding-bottom: var(--space20);
    border-bottom: 1px solid lightgrey;
}

.kcal {
    color: #fff;
    background-color: var(--secondarycolor);
    padding: 5px;
    border-radius: 5px;
}

.more-info {
    color: var(--primarycolor);
    font-size: 1.2rem;
}

.diet-type {
    display: flex;
    gap: 5px;
}

.recipe-preparation {
    margin-left: var(--space40);
}

.recipe-preparation li {
    margin-bottom: 10px;
}


/* Sezione social */

.social {
    margin: var(--space40) 0;
}

.social ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social li {
    padding: 10px 15px;
    background-color: white;
    border-radius: 40%;
    box-shadow: 5px 5px 5px gray;
}

.social-name {
    font-size: 0.8rem;
}

/* !Presentation section */

.presentation h3 {
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, var(--primarycolor) 10%, transparent 10%) 100% 1;

}

.presentation-image {
    padding: var(--space20) 0;
    max-width: 50%;
    margin: 0 auto;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* ?FOOTER */

footer {
    background-color: var(--secondarycolor);
    color: #fff;
    padding: 20px 40px;
    text-align: center;
}

footer a {
    color: #fff;
}

footer p {
    margin-bottom: 10px;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}