/* ?CSS PROPERTIES */

/* Colors */
:root {
    --primarycolor: #f7972e;
    --secondarycolor: #7c69a4;
}




/* ?CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* ?GENERALS */

/* Fonts */
body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    background-color: lightblue;
}

header h1 {
    font-family: 'Nerko One', cursive;
}

img {
    width: 100%;
}

/* List */
ul {
    list-style-type: none;
}

/* Social */
.social-name {
    display: none;
}

/* Banner */

.banner {
    display: none;
}





/* ?UTILS */
/* Container */
.container {
    margin: 0 auto;
    padding: 20px;
}

.bold {
    font-weight: bold;
}



/* ?HEADER */

header h1 {
    color: var(--primarycolor);
    text-align: center;
    font-size: 3rem;
}

/* ?MAIN */

/* !Recipe section */

/* Sezione nome ricetta */
.recipe .col:first-child {
    display: flex;
    justify-content: space-between;
}

.recipe-rating {
    display: flex;
    align-items: flex-end;
}

/* Sezione preparazione */

.recipe-info {
    margin: 40px;
}

.diet-info {
    display: flex;
    justify-content: space-between;
}

.recipe-preparation {
    margin-left: 40px;
}

/* Sezione social */

.social ul {
    display: flex;
    justify-content: space-evenly;
}


.social li {
    padding: 10px 15px;
    background-color: white;
    border-radius: 40%;
    box-shadow: 5px 5px 5px gray;
}

/* !Presentation section */

.presentation h3 {
    border-bottom: 4px solid var(--primarycolor);
    border-image: linear-gradient(to right, var(--primarycolor) 30%, transparent 40%) 30%;

}

.presentation-image {
    padding: 20px 80px;
}


/* ?FOOTER */

footer {
    background-color: var(--secondarycolor);
    color: #fff;
    padding: 20px 40px;
    text-align: center;
}

footer a {
    color: #fff;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}